<!-- track $index yerine track item.id yazabiliriz -->
    <h3>Models</h3>
    <table class="table w-75 border">
      <thead>
        <tr>
          <th>Model Name</th>
          <th>Model Year</th>
          <th>Daily Price</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of list">
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.modelYear }}</td>
            <td>{{ item.dailyPrice }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <nav class="">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>


    <!-- <ul class="list-group text-center">
      <ng-container *ngFor="let item of list">
        <li class="list-group-item w-75">
          <div class="row align-items-center">
            <div class="col">{{ item.name }}</div>
            <div class="col">{{ item.modelYear }}</div>
            <div class="col">{{ item.dailyPrice }}</div>
          </div>
        </li>
      </ng-container>
    </ul> -->




<!-- @for (item of list; track $index) {
  <p>{{item.name}} {{$index}}</p>
} -->
