<nav class="navbar navbar-expand-lg border" style="background-color: #cfe4f3;">
  <div class="container-fluid">
    <a class="navbar-brand fs-2 fw-semibold " routerLink="/home">Rent A Car</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item p-3 fs-4">
          <button class="menu-button btn btn-outline-primary btn-lg" routerLink="/home/brands">Brands</button>
        </li>
        <li class="nav-item p-3 fs-4">
          <button class="menu-button btn btn-outline-primary btn-lg" routerLink="/home/models">Models</button>
        </li>
        <li class="nav-item p-3 fs-4">
          <button class="menu-button btn btn-outline-primary btn-lg" routerLink="/home/cars">Cars</button>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

