<div class="d-flex flex-nowrap">
<div class="card w-auto my-3 pt-3 mx-5 px-3">
  <div>
    <h3 class="d-inline">{{ modelDetails.brand.name }} </h3>
    <h4 class="d-inline">{{ modelDetails.name }}</h4>
    <button class="float-end btn btn-danger">Rental ></button>
  </div>
  <div class="d-flex justify-content-center">
    <img
      src="{{ modelDetails.imageUrl }}"
      class="card-img-top w-50"
      alt="..."
    />
  </div>

    <div class="card-body">
    <h6 class="card-text">Model Year</h6>
    <p class="card-text">{{ modelDetails.modelYear }}</p>
    <h6 class="card-text">Daily Price</h6>
    <p class="card-text ">{{ modelDetails.dailyPrice | vatAdd:10 | currency: 'TRY' : '₺' }}</p>

  </div>

</div>
</div>

